.WriteDetailPage {
  width: 100%;
  background: linear-gradient(
    180deg,
    #ffe0e0 0%,
    rgba(249, 229, 195, 0.5) 34.84%,
    rgba(255, 255, 255, 0.56) 76%
  );
}

.WriteDetailPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DetailMaimu {
  display: grid;
  grid-template-columns: repeat(3, 94px);
  grid-template-rows: repeat(6, 58px);
  gap: 27px;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
}

.WriteDetailPage .Header {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.WriteDetailPage .SmallLogo {
  margin: 78px 0 0 131px;
  width: 128px;
  height: 31.787px;
}

.WriteDetailPage .WriteHelpIcon {
  margin-left: 39px;
  margin-top: 56px;
}

.WriteDetailPage .GroupName {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: -1px;
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.WriteDetailPage .WriteDetail_Button {
  width: 336px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  display: flex;
  align-items: center;
  justify-content: center;

  color: #242424;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
}
