.TasteDropdown .DropdownToggle {
  position: relative;
  width: 86px;
  height: 56px;
  border-radius: 10px;
  background: #edecec;
  margin-top: 27px;
  margin-left: 38px;
  border: none;

  color: #6d6d6d;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  padding: 20px 0px 18px 13px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.TasteDropdown .DropdownToggle.open {
  outline: 1px solid #ea4da4; /* 클릭 시 테두리 색상 및 굵기 변경 */
}

.TasteDropdown .SelectedColor {
  color: #6d6d6d; /* 기본 글자 색상 */
}

.TasteDropdown .SelectedColor.노랑 {
  color: black; /* 노랑 선택 시 글자 색상 */
}

.TasteDropdown .SelectedColor.핑크 {
  color: black; /* 핑크 선택 시 글자 색상 */
}

.TasteDropdown .SelectedColor.초록 {
  color: black; /* 초록 선택 시 글자 색상 */
}

.TasteDropdown .DropdownOptions {
  position: absolute;
  width: 86px;
  border-radius: 10px;
  margin-left: 38px;
  background: rgba(237, 236, 236, 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.TasteDropdown .DropdownOption {
  height: 56px;
  margin: 0px;
  padding: 21px 35px 21px 0px;
  box-sizing: border-box;
  color: #000000;
}

.TasteDropdown .DropdownOption:hover {
  cursor: pointer;
  background: #e8e8e8;
  border-radius: 10px;
}

.TasteDropdown .Arrow {
  width: 13px;
  height: 6px;
  fill: #494949;
  margin-top: 6px;
  margin-right: 8px;
}

.TasteDropdown .DropdownToggle {
  display: flex;
  justify-content: space-between;
}

.TasteDropdown {
  z-index: 1000;
}
