.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: transparent;
  border: 1px solid black; /* 피그마 디자인으로 바꿀 때 수정할 부분 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 7px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #686868;
  border: 1px solid transparent;
}

.swiper-button-prev {
  position: absolute;
  margin-top: -33px;
  margin-left: -5px;
  width: 10px;
  height: 20px;
}

.swiper-button-next {
  position: absolute;
  margin-top: -33px;
  margin-right: -5px;
  width: 10px;
  height: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 550 !important;
}

.InformationToggleOut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.36);
}

.InformationToggle {
  position: absolute;
  top: 73px;
  left: 24px;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}

.InformationXBtn {
  position: absolute;
  margin-top: -619px;
  margin-left: 316px;
}

/* page-1 */

.Friend_T {
  position: absolute;
  margin-top: 66px;
  width: 100%;

  color: #ea4da4;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Friend_C {
  position: absolute;
  margin-top: 104px;
  width: 100%;

  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.HowToUse_T {
  position: absolute;
  margin-top: 223px;
  width: 100%;

  color: #ea4da4;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.HowToUse_C {
  position: absolute;
  margin-top: 255px;
  margin-right: 20px;
  width: 100%;

  color: #000;
  text-align: left;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/* page-2 */

.WhatFlavor_T {
  position: absolute;
  margin-top: 67px;
  width: 100%;

  color: #ea4da4;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.WhatFlavor_C1 {
  position: absolute;
  margin-top: 100px;
  width: 100%;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.WhatFlavor_C2 {
  position: absolute;
  margin-top: 120px;
  margin-left: 20px;
  width: 100%;

  color: #000;
  text-align: left;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.WhoMade_T1 {
  position: absolute;
  margin-top: 225px;
  width: 100%;

  color: #ea4da4;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.WhoMade_T2 {
  position: absolute;
  margin-top: 246px;
  margin-left: 90px;
  width: 40%;

  color: #ea4da4;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.WhoMade_C {
  position: absolute;
  margin-top: 273px;
  margin-left: 0px;
  width: 90%;
  align-items: center;

  color: #000;
  text-align: left;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
