

.ProfileEdit{
    width: 100%;
    background: #000;
    /* background-color: #FFF; */
}

.JustifyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SpeechBubble{
    margin: 256px 0 0 0;
    width: 244px;
}

.NextButton{
    border-radius: 5px;
    background: #FFF;
    width: 100px;
    height: 43px;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.MaimuContainer{
    position: absolute;
    top: 368px;
    left: 41px;

}

.Pomegranate{
    margin-right: 40px;
}

.Citron{
    margin-right: 40px;
}

.Plum{
    /* position: relative;
    top: 1px; */

}

.Arrow{
    margin-left: 10px;
}

.NextButton{
    position: absolute;
    top: 564px;
    left: 144px;
}

.IconName{
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.PomegranateTwinkle{
    position: absolute;
    top: 336px;
    left: 25px;

}
.CitronTwinkle{
    position: absolute;
    top: 336px;
    left: 143px;

}
.PlumTwinkle{
    position: absolute;
    top: 336px;
    left: 262px;

}