.GroupColorDropdown .DropdownToggle{
    width: 272px;
    height: 45px;
    border-radius: 10px;
    background: #F1F1F1;
    margin-top: 6px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding: 11px 0 0 22px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.GroupColorDropdown .DropdownOptions{
  width: 272px;
  border-radius: 10px;
  background: #F4F4F4;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.GroupColorDropdown .DropdownOption{
  height: 45px;
  padding: 11px 0 0 22px;
  box-sizing: border-box;

}

.GroupColorDropdown .DropdownOption:hover{
  cursor: pointer;
  background: #E8E8E8;
  border-radius: 10px;
}

.GroupColorDropdown .Arrow{
    width: 18px;
    height: 9px;
    fill: #282828;
    margin: 7px 13px 0 0;

}

.DropdownToggle{
    display:flex;
    justify-content: space-between;

}
