.MainPage{
    width: 100%;
    background: linear-gradient(180deg, #FFE6EC 0%, rgba(255, 255, 255, 0.00) 23.06%);
}

.Locker {
    display: grid;
    grid-template-columns: 117px 117px 117px;
	grid-template-rows: 174px 174px 174px;
    gap: 3px;
    align-items: center;
    justify-content: center;
    
}

.MainPage .Header{
    display: flex;
    flex-direction: row;
    margin-top: 68px;
    margin-bottom: 48px;
}

.HelpIcon{
    margin-left: 32px;
}

.Profile{
    margin-left: 50px;
}

.MainPage .SmallLogo{
    margin-left: 53px;
    /* background-color: #EA4DA4; */

}

.EditGroup{
    display: flex;
    flex-direction: row;
    margin-left: 58px;
    margin-top: 24px;
}


.EditButton{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #FDC1D5;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-right: 24px;
}

.clicked{
    background-color: #EA4DA4;
}

