.MainPage {
  width: 100%;
  background: linear-gradient(
    180deg,
    #ffe6ec 0%,
    rgba(255, 255, 255, 0) 23.06%
  );
}

.LockerContainer {
  display: grid;
  grid-template-columns: 117px 117px 117px;
  grid-template-rows: 174px 174px 174px;
  gap: 3px;
  justify-content: center;
  margin: 37px 0 0 0;
}

.MainPage .Header {
  /* display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center; */
  /* margin-top: 62px; */
  /* margin-top: 78px; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.HelpIcon {
  /* margin: 70px 0 0 0; */
  width: 42px;
  height: 42px;
  /* position: absolute; */
  position: relative;
  right: 141px;
  bottom: 712px;
}

.MainPage .SmallLogo {
  /* margin: 78px 0 0 56.65px; */
  /* margin: 0 57px 0 57px; */
  /* width: 128px;
  height: 31.787px; */
  margin-top: 78px;
}

.ProfilePomegranate {
  /* margin: 65px 0 0 50px; */
  width: 55px;
  height: 55px;
  /* width: 42px;
  height: 42px; */
  /* position: absolute; */
  position: relative;
  left: 147px;
  bottom: 760px;
}


.EditGroup {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}

.EditButton {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fdc1d5;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 0 12px;
}

.clicked {
  background-color: #ea4da4;
}
