.MyPage {
  width: 100%;
  background-color: rgb(255, 255, 255);
}


.SmallLogoImg {
  margin: 78px 0 0 0;
}

.CitronBackground {
  background: linear-gradient(
    180deg,
    #fffac8 0%,
    rgba(255, 255, 255, 0) 35.06%
  );
}

.PlumBackground {
  background: linear-gradient(
    180deg,
    #eeffbd 0%,
    rgba(255, 255, 255, 0) 35.06%
  );
}

.PomegranateBackground {
  background: linear-gradient(
    180deg,
    #ffecf1 0%,
    rgba(255, 255, 255, 0) 35.06%
  );
}

.ProfileImage {
  margin-top: 90.83px;
}

.ProfileEditButon {
  width: 37px;
  height: 37px;
  position: relative;
    top: -146px;
    left: 57px;
}

.Nickname {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.NicknameInput {
  width: 213px;
  height: 56px;
  border-radius: 10px;
  background: #edecec;
  margin-top: 16px;
  padding-left: 16px;
  border: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

input:focus {
  outline: 1px solid #ea4da4;
}

.Birth {
  margin-top: 19px;
}

.MyPage .Confirmation {
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100px;
  height: 43px;
  background: #ea4da4;
  border: none;
  margin-top: 95px;
}
