.DetailPage {
  background: linear-gradient(
    180deg,
    #ffe0e0 0%,
    rgba(249, 229, 195, 0.5) 34.84%,
    rgba(255, 255, 255, 0.56) 76%
  );
}

.DetailPageContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DetailMaimu {
  display: grid;
  grid-template-columns: 94px 94px 94px;
  grid-template-rows: 58px 58px 58px 58px 58px 58px;
  gap: 27px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.DetailPage .Header {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  
}

.DetailPage .SmallLogo {
  margin: 0 40px 0 135px;
}

.PasteLink {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-right: 31px;
}

.DetailPage .GroupName {
  text-align: center;
  margin-top: 14px;
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
