.WriteNote {
  width: 100%;
  /* Rectangle 706 */
  background: linear-gradient(
    180deg,
    #ffeaef 0%,
    rgba(255, 255, 255, 0) 22.35%,
    rgba(252, 252, 252, 0.360725) 84.5%
  );

  align-items: center;
  text-align: center;
  position: relative;
}

.WriteNote .Header {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.WriteNote .SmallLogo {
  justify-content: center;
  margin: auto;
}

.WriteNote_Box {
  margin: auto;
  margin-top: 55px;

  width: 326px;
  height: 436px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #a3a3a3;
  background: #fff;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.07),
    -4px -4px 4px 2px rgba(0, 0, 0, 0.07);
}

.WriteNote .Note_T_Wrapper {
  display: flex;
  position: relative;
}

.WriteNote_T {
  margin-top: 32px;
  margin-bottom: 34px;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}

.WriteNote .Note_T::placeholder {
  color: #a0a0a0;
}

.WriteNote .Note_T {
  margin: auto;
  margin-bottom: 11px;
  width: 228px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #a2a2a2;
  background: linear-gradient(180deg, #fdebeb 0%, rgba(255, 255, 255, 0.9) 100%),
    linear-gradient(0deg, #f1f1f1 0%, #f1f1f1 100%),
    linear-gradient(0deg, #f1f1f1 0%, #f1f1f1 100%), #f1f1f1;
  word-break: keep-all; /* 너무 길어져서 줄을 바꿔야할 때 단어 쪼개지지 않게 함. */
  overflow-wrap: break-word;

  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  resize: none;
  color: #000;
  text-align: left;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: -0.408px;
}

.WriteNote .Count_Note_T {
  position: absolute;
  right: 46px;
  bottom: 6px;
  color: #a7a7a7;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.WriteNote .Note_C_Wrapper {
  display: flex;
  position: relative;
}

.WriteNote .Note_C::placeholder {
  color: #a0a0a0;
}

.WriteNote .Note_C {
  margin: auto;
  width: 228px;
  height: 174px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
  background: linear-gradient(180deg, #fdeded 0%, #fff 52.45%),
    linear-gradient(0deg, #f1f1f1 0%, #f1f1f1 100%),
    linear-gradient(0deg, #f1f1f1 0%, #f1f1f1 100%), #f1f1f1;
  word-break: keep-all; /* 너무 길어져서 줄을 바꿔야할 때 단어 쪼개지지 않게 함. */
  overflow-wrap: break-word;

  overflow: auto;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 22px;
  resize: none;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.WriteNote .Note_C::-webkit-scrollbar {
  width: 10px;
}

.WriteNote .Note_C::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.85);
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 50px;
}

.WriteNote .Note_C::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

.WriteNote .Count_Note_C {
  position: absolute;
  right: 41px;
  bottom: -3px;
  color: #a7a7a7;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.WriteNote .Note_Info_Wrapper {
  display: flex;
  position: relative;
}

.WriteNote .NickName_Wrapper {
  position: relative;
}

.WriteNote .Note_NickName::placeholder {
  color: #6d6d6d;
}

.WriteNote .Note_NickName {
  margin-left: 10px;
  margin-top: 27px;
  display: inline-block;
  width: 100px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #edecec;
  border: none;
  word-break: keep-all; /* 너무 길어져서 줄을 바꿔야할 때 단어 쪼개지지 않게 함. */
  overflow-wrap: break-word;

  overflow: hidden;
  text-align: left;
  padding-top: 17px;
  padding-bottom: 21px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  color: #000000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.WriteNote .Count_NickName {
  display: inline-block;

  position: absolute;
  right: 15px;
  bottom: 17px;
  color: #a7a7a7;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.WriteNote .WriteNote_Button {
  width: 336px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 10px;
  border-radius: 10px;
  background: #2b2b2b;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
}
